*{
            margin:0;
            padding:0;

            box-sizing: border-box;
        }

        body {
            background-image:linear-gradient(120deg,rgb(77, 77, 142), rgb(118, 165, 189));
            text-align: center;
            background-color: bisque;                
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #5372f0;
            min-height: 100vh;
        }
 
        .formdesign {                                                               /*design of the form */
            background-color: aliceblue;
            font-size: 20px;
            width:380px;
            padding-top: 15px;
    

        }
        .formdesign input {
            width: 50%;
            padding: 12px 15px;                                                      /*design of the input area */
            border: 2px solid blue;
            margin: 14px;                                                             
            border-radius: 4px;
            font-size: 15px;
            border-radius: 9px;
            
        }

        .formerror {
            color: red;                                                             /Error text/
            font-size: 15px;
        }

        .but {
            border-radius: 9px;
            width: 100px;                                                            /*button */
            height: 50px;
            font-size: 25px;
            margin: 22px 20px;
            background-color: rgb(165, 203, 190);
            border-radius: 9px;
            cursor: pointer;
        }
        .but:hover{
            background-color: aqua;
        }